In [ ]:
import pandas as pd

In [ ]:
ingr_df = pd.read_pickle('ingr_map.pkl')
ingr_df

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308
...,...,...,...,...,...,...,...
11654,soybeans,1,soybean,7,soybean,31,6702
11655,goose,1,goose,5,goose,8,3318
11656,ajwain,1,ajwain,6,ajwain,13,47
11657,brinjals,1,brinjal,7,brinjal,2,750
11658,khoya,1,khoya,5,khoya,6,4061

In [ ]:
final_ingr_df = ingr_df[['id', 'processed', 'replaced']]
final_ingr_df.rename(columns={'replaced': 'ingredient_name', 'processed': 'raw_ingredient_name'}, inplace=True)
final_ingr_df # no nulls

<ipython-input-6-00db3de640f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_ingr_df.rename(columns={'replaced': 'ingredient_name', 'processed': 'raw_ingredient_name'}, inplace=True)

         id                                raw_ingredient_name ingredient_name
0      4308  medium heads bibb or red leaf lettuce, washed,...         lettuce
1      4308               mixed baby lettuces and spring green         lettuce
2      4308                               romaine lettuce leaf         lettuce
3      4308                               iceberg lettuce leaf         lettuce
4      4308                                red romaine lettuce         lettuce
...     ...                                                ...             ...
11654  6702                                            soybean         soybean
11655  3318                                              goose           goose
11656    47                                             ajwain          ajwain
11657   750                                            brinjal         brinjal
11658  4061                                              khoya           khoya

[11659 rows x 3 columns]

In [ ]:
final_ingr_df.to_csv('ingredients.csv')

In [ ]:
import csv

In [ ]:
raw_recipe_df = pd.read_csv('RAW_recipes.csv', quoting=1)

In [ ]:
raw_recipe_df.columns

Index(['name', 'id', 'minutes', 'contributor_id', 'submitted', 'tags',
       'nutrition', 'n_steps', 'steps', 'description', 'ingredients',
       'n_ingredients'],
      dtype='object')

In [ ]:
# id, name, prep time (minutes), steps, ingredient ids, calories
raw_recipe_df = raw_recipe_df[['id', 'name', 'minutes', 'contributor_id', 'nutrition', 'n_ingredients', 'steps']]
raw_recipe_df.rename(columns={'minutes': 'prep_time', 'n_ingredients': 'num_ingredients'}, inplace=True)

<ipython-input-13-c94363b371de>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_recipe_df.rename(columns={'minutes': 'prep_time', 'n_ingredients': 'num_ingredients'}, inplace=True)

In [ ]:

raw_recipe_df['calories'] = raw_recipe_df['nutrition'].apply(lambda x: str.split(x[1:-1], ',')[0])
#raw_recipe_df.drop(labels=['nutrition'])
raw_recipe_df.drop(columns='nutrition', inplace=True)

In [ ]:
raw_recipe_df

,id,name,prep_time,contributor_id,num_ingredients,steps,calories
0,137739,arriba baked winter squash mexican style,55,47892,7,"['make a choice and proceed with recipe', 'dep...",51.5
1,31490,a bit different breakfast pizza,30,26278,6,"['preheat oven to 425 degrees f', 'press dough...",173.4
2,112140,all in the kitchen chili,130,196586,13,"['brown ground beef in large pot', 'add choppe...",269.8
3,59389,alouette potatoes,45,68585,11,['place potatoes in a large pot of lightly sal...,368.1
4,44061,amish tomato ketchup for canning,190,41706,8,['mix all ingredients& boil for 2 1 / 2 hours ...,352.9
...,...,...,...,...,...,...,...
231632,486161,zydeco soup,60,227978,22,"['heat oil in a 4-quart dutch oven', 'add cele...",415.2
231633,493372,zydeco spice mix,5,1500678,13,['mix all ingredients together thoroughly'],14.8
231634,308080,zydeco ya ya deviled eggs,40,37779,8,"['in a bowl , combine the mashed yolks and may...",59.2
231635,298512,cookies by design cookies on a stick,29,506822,10,['place melted butter in a large mixing bowl a...,188.0
231636,298509,cookies by design sugar shortbread cookies,20,506822,7,"['whip sugar and shortening in a large bowl , ...",174.9

In [ ]:
recipe_df = pd.read_csv('PP_recipes.csv', quoting=1)

In [ ]:
recipe_df = recipe_df[['id', 'ingredient_ids']]
recipe_df

            id                                     ingredient_ids
0       424415                      [389, 7655, 6270, 1527, 3406]
1       146223  [2683, 4969, 800, 5298, 840, 2499, 6632, 7022,...
2       312329  [1257, 7655, 6270, 590, 5024, 1119, 4883, 6696...
3        74301   [7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]
4        76272                            [3484, 6324, 7594, 243]
...        ...                                                ...
178260  323143            [840, 208, 2499, 2683, 1925, 335, 1511]
178261  149114               [2499, 4717, 1168, 6270, 6324, 7040]
178262   34200  [2378, 7655, 3219, 2320, 5168, 5319, 4189, 268...
178263   30618  [5627, 2807, 5412, 3399, 7979, 1093, 1257, 780...
178264  263840  [6473, 800, 4807, 2683, 335, 1563, 1511, 3248,...

[178265 rows x 2 columns]

In [ ]:
final_recipe_df = raw_recipe_df.merge(recipe_df, left_on='id', right_on='id')

In [ ]:
final_recipe_df.drop_duplicates()
final_recipe_df

,id,name,prep_time,contributor_id,num_ingredients,steps,calories,ingredient_ids
0,137739,arriba baked winter squash mexican style,55,47892,7,"['make a choice and proceed with recipe', 'dep...",51.5,"[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,31490,a bit different breakfast pizza,30,26278,6,"['preheat oven to 425 degrees f', 'press dough...",173.4,"[5481, 6324, 2499, 4717, 6276, 1170]"
2,59389,alouette potatoes,45,68585,11,['place potatoes in a large pot of lightly sal...,368.1,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,5289,apple a day milk shake,0,1533,4,"['combine ingredients in blender', 'cover and ...",160.2,"[4717, 7474, 2946, 150]"
4,25274,aww marinated olives,15,21730,9,['toast the fennel seeds and lightly crush the...,380.7,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."
...,...,...,...,...,...,...,...,...
178260,185979,zydeco green beans,20,145599,8,"['into each of six sterile pint mason jars , p...",103.1,"[3203, 7978, 2725, 1336, 2794, 7803, 7655, 5369]"
178261,367912,zydeco salad,5,79877,4,['place the lettuce on a platter or serving di...,14.1,"[4308, 7213, 13, 5007]"
178262,357451,zydeco sauce,15,461283,6,"['to make the sauce , combine the mayonnaise ,...",239.9,"[4623, 3758, 7946, 7839, 7049, 5975]"
178263,188810,zydeco shrimp wrap,57,37779,11,"['bring 3 quarts salted to water to a boil', '...",482.6,"[7783, 7557, 5010, 3399, 1130, 7233, 7946, 381..."
178264,308080,zydeco ya ya deviled eggs,40,37779,8,"['in a bowl , combine the mashed yolks and may...",59.2,"[3627, 4623, 2148, 905, 7049, 6270, 590, 2822]"

In [ ]:
final_recipe_df.to_csv('recipes.csv')

In [ ]:
import pandas as pd
df = pd.read_csv('cleaned_ingredients.csv')

In [ ]:
final_ingr_df = df.drop_duplicates()

In [ ]:
final_ingr_df.to_csv('final_ingredients.csv')

In [ ]:
import pandas as pd
recipe_df = pd.read_csv('cleaned_recipes.csv')

In [ ]:
recipe_ingr_df = pd.read_csv('cleaned_recipe_to_ingredients.csv')

In [ ]:
recipe_ingr_df = recipe_ingr_df.drop(columns=["Unnamed: 0"])

In [ ]:
len(recipe_ingr_df.index)

1408677

In [ ]:
temp_df = recipe_ingr_df.dropna()
temp_df

         recipe_id  ingredient_id
0           137739         7933.0
1           137739         4694.0
2           137739         4795.0
3           137739         3723.0
4           137739          840.0
...            ...            ...
1408671     122528          588.0
1408672     324065         3484.0
1408673     324065         2499.0
1408674     324065          728.0
1408675     324065         3217.0

[1408676 rows x 2 columns]

In [ ]:
temp_df.to_csv('final_recipe_ingredients.csv')

In [ ]:
recipe_df

,Unnamed: 0,id,name,prep_time,contributor_id,num_ingredients,steps,calories,ingredient_ids
0,0,137739.0,arriba baked winter squash mexican style,55.0,47892.0,7.0,"['make a choice and proceed with recipe', 'dep...",51.5,"[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,1,31490.0,a bit different breakfast pizza,30.0,26278.0,6.0,"['preheat oven to 425 degrees f', 'press dough...",173.4,"[5481, 6324, 2499, 4717, 6276, 1170]"
2,2,59389.0,alouette potatoes,45.0,68585.0,11.0,['place potatoes in a large pot of lightly sal...,368.1,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,3,5289.0,apple a day milk shake,0.0,1533.0,4.0,"['combine ingredients in blender', 'cover and ...",160.2,"[4717, 7474, 2946, 150]"
4,4,25274.0,aww marinated olives,15.0,21730.0,9.0,['toast the fennel seeds and lightly crush the...,380.7,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."
...,...,...,...,...,...,...,...,...,...
27346,27346,63261.0,caramel coffee cream parfaits,20.0,63855.0,4.0,"['in top of double boiler over hot water , pla...",801.3,"[1062, 7705, 1630, 5298]"
27347,27347,163302.0,caramel coffee indulgence,5.0,53959.0,6.0,"['combine coffee , butterscotch topping and in...",54.0,"[3778, 889, 7702, 7200, 1388]"
27348,27348,312986.0,caramel coffee syrup,22.0,744582.0,4.0,['mix 1 / 4 cup water and all sugar in a sauce...,98.3,"[6906, 3815, 7449, 6270]"
27349,27349,123765.0,caramel cookie bars,30.0,217657.0,8.0,['mix all crust ingredients together and sprea...,312.0,"[2683, 5791, 800, 4574, 6270, 335, 1062, 1909]"
27350,2735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
recipe_df2 = recipe_df.dropna()

In [ ]:
ingr_list = recipe_df2['ingredient_ids'].apply(lambda x: [int(y) for y in str.split(x[1:-1], ',') if y.strip().isdigit()])

In [ ]:
recipe_df2['ingredient_ids'] = recipe_df2['ingredient_ids'].apply(lambda x: [int(y) for y in str.split(x[1:-1], ',') if y.strip().isdigit()])

<ipython-input-32-0a0a69503e36>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recipe_df2['ingredient_ids'] = recipe_df2['ingredient_ids'].apply(lambda x: [int(y) for y in str.split(x[1:-1], ',') if y.strip().isdigit()])

In [ ]:
recipe_df2

,Unnamed: 0,id,name,prep_time,contributor_id,num_ingredients,steps,calories,ingredient_ids
0,0,137739.0,arriba baked winter squash mexican style,55.0,47892.0,7.0,"['make a choice and proceed with recipe', 'dep...",51.5,"[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,1,31490.0,a bit different breakfast pizza,30.0,26278.0,6.0,"['preheat oven to 425 degrees f', 'press dough...",173.4,"[5481, 6324, 2499, 4717, 6276, 1170]"
2,2,59389.0,alouette potatoes,45.0,68585.0,11.0,['place potatoes in a large pot of lightly sal...,368.1,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,3,5289.0,apple a day milk shake,0.0,1533.0,4.0,"['combine ingredients in blender', 'cover and ...",160.2,"[4717, 7474, 2946, 150]"
4,4,25274.0,aww marinated olives,15.0,21730.0,9.0,['toast the fennel seeds and lightly crush the...,380.7,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."
...,...,...,...,...,...,...,...,...,...
27345,27345,323917.0,caramel coffee cider,20.0,128473.0,7.0,['place coffee and cinnamon in brew basket of ...,52.7,"[1625, 3497, 1076, 154, 1645, 7702, 1511]"
27346,27346,63261.0,caramel coffee cream parfaits,20.0,63855.0,4.0,"['in top of double boiler over hot water , pla...",801.3,"[1062, 7705, 1630, 5298]"
27347,27347,163302.0,caramel coffee indulgence,5.0,53959.0,6.0,"['combine coffee , butterscotch topping and in...",54.0,"[3778, 889, 7702, 7200, 1388]"
27348,27348,312986.0,caramel coffee syrup,22.0,744582.0,4.0,['mix 1 / 4 cup water and all sugar in a sauce...,98.3,"[6906, 3815, 7449, 6270]"
27349,27349,123765.0,caramel cookie bars,30.0,217657.0,8.0,['mix all crust ingredients together and sprea...,312.0,"[2683, 5791, 800, 4574, 6270, 335, 1062, 1909]"

In [ ]:
min(recipe_df2['ingredient_ids'][0])

840

In [ ]:
final_recipe_df = recipe_df2.drop(columns=['ingredient_ids']).rename(columns={'prep_time': 'preparation_time'}, inplace=True)

KeyError: ignored

In [ ]:
final_recipe_df = recipe_df2.drop(columns=['Unnamed: 0']).rename(columns={'prep_time': 'preparation_time'})

In [ ]:
final_recipe_df.to_csv('final_recipes.csv')

In [ ]:
temp_df[temp_df['ingredient_id'] >= 8.0].to_csv('final_recipe_to_ingredients.csv')

In [ ]:
import pandas as pd
rec_df = pd.read_csv('final_recipes.csv')

In [ ]:
lengths = rec_df['steps'].apply(lambda x: len(x))

In [ ]:
max(lengths)

1190

In [ ]:
import pandas as pd
cleaned_recipe_df = pd.read_csv('final_recipes.csv')
raw_recipe_df = pd.read_csv('PP_recipes_copy.csv', quoting=1)

In [ ]:
raw_recipe_df = raw_recipe_df[['id', 'ingredient_ids']]

In [ ]:
cleaned_recipe_df

,id,name,preparation_time,contributor_id,num_ingredients,steps,calories
0,137739,arriba baked winter squash mexican style,55,47892,7,"['make a choice and proceed with recipe', 'dep...",51.5
1,31490,a bit different breakfast pizza,30,26278,6,"['preheat oven to 425 degrees f', 'press dough...",173.4
2,59389,alouette potatoes,45,68585,11,['place potatoes in a large pot of lightly sal...,368.1
3,5289,apple a day milk shake,0,1533,4,"['combine ingredients in blender', 'cover and ...",160.2
4,25274,aww marinated olives,15,21730,9,['toast the fennel seeds and lightly crush the...,380.7
...,...,...,...,...,...,...,...
27345,323917,caramel coffee cider,20,128473,7,['place coffee and cinnamon in brew basket of ...,52.7
27346,63261,caramel coffee cream parfaits,20,63855,4,"['in top of double boiler over hot water , pla...",801.3
27347,163302,caramel coffee indulgence,5,53959,6,"['combine coffee , butterscotch topping and in...",54.0
27348,312986,caramel coffee syrup,22,744582,4,['mix 1 / 4 cup water and all sugar in a sauce...,98.3
27349,123765,caramel cookie bars,30,217657,8,['mix all crust ingredients together and sprea...,312.0

In [ ]:
merged_df = cleaned_recipe_df.merge(raw_recipe_df, left_on='id', right_on='id')
merged_df

,id,name,preparation_time,contributor_id,num_ingredients,steps,calories,ingredient_ids
0,137739,arriba baked winter squash mexican style,55,47892,7,"['make a choice and proceed with recipe', 'dep...",51.5,"[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,31490,a bit different breakfast pizza,30,26278,6,"['preheat oven to 425 degrees f', 'press dough...",173.4,"[5481, 6324, 2499, 4717, 6276, 1170]"
2,59389,alouette potatoes,45,68585,11,['place potatoes in a large pot of lightly sal...,368.1,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,5289,apple a day milk shake,0,1533,4,"['combine ingredients in blender', 'cover and ...",160.2,"[4717, 7474, 2946, 150]"
4,25274,aww marinated olives,15,21730,9,['toast the fennel seeds and lightly crush the...,380.7,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."
...,...,...,...,...,...,...,...,...
27345,323917,caramel coffee cider,20,128473,7,['place coffee and cinnamon in brew basket of ...,52.7,"[1625, 3497, 1076, 154, 1645, 7702, 1511]"
27346,63261,caramel coffee cream parfaits,20,63855,4,"['in top of double boiler over hot water , pla...",801.3,"[1062, 7705, 1630, 5298]"
27347,163302,caramel coffee indulgence,5,53959,6,"['combine coffee , butterscotch topping and in...",54.0,"[3778, 889, 7702, 7200, 1388]"
27348,312986,caramel coffee syrup,22,744582,4,['mix 1 / 4 cup water and all sugar in a sauce...,98.3,"[6906, 3815, 7449, 6270]"
27349,123765,caramel cookie bars,30,217657,8,['mix all crust ingredients together and sprea...,312.0,"[2683, 5791, 800, 4574, 6270, 335, 1062, 1909]"

In [ ]:
merged_df['ingredient_list'] = merged_df['ingredient_ids'].apply(lambda x: [int(y) for y in str.split(x[1:-1], ',') if y.strip().isdigit()])

In [ ]:
merged_df

,id,name,preparation_time,contributor_id,num_ingredients,steps,calories,ingredient_ids,ingredient_list
0,137739,arriba baked winter squash mexican style,55,47892,7,"['make a choice and proceed with recipe', 'dep...",51.5,"[7933, 4694, 4795, 3723, 840, 5006, 6270]","[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,31490,a bit different breakfast pizza,30,26278,6,"['preheat oven to 425 degrees f', 'press dough...",173.4,"[5481, 6324, 2499, 4717, 6276, 1170]","[5481, 6324, 2499, 4717, 6276, 1170]"
2,59389,alouette potatoes,45,68585,11,['place potatoes in a large pot of lightly sal...,368.1,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627...","[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,5289,apple a day milk shake,0,1533,4,"['combine ingredients in blender', 'cover and ...",160.2,"[4717, 7474, 2946, 150]","[4717, 7474, 2946, 150]"
4,25274,aww marinated olives,15,21730,9,['toast the fennel seeds and lightly crush the...,380.7,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131...","[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."
...,...,...,...,...,...,...,...,...,...
27345,323917,caramel coffee cider,20,128473,7,['place coffee and cinnamon in brew basket of ...,52.7,"[1625, 3497, 1076, 154, 1645, 7702, 1511]","[1625, 3497, 1076, 154, 1645, 7702, 1511]"
27346,63261,caramel coffee cream parfaits,20,63855,4,"['in top of double boiler over hot water , pla...",801.3,"[1062, 7705, 1630, 5298]","[1062, 7705, 1630, 5298]"
27347,163302,caramel coffee indulgence,5,53959,6,"['combine coffee , butterscotch topping and in...",54.0,"[3778, 889, 7702, 7200, 1388]","[3778, 889, 7702, 7200, 1388]"
27348,312986,caramel coffee syrup,22,744582,4,['mix 1 / 4 cup water and all sugar in a sauce...,98.3,"[6906, 3815, 7449, 6270]","[6906, 3815, 7449, 6270]"
27349,123765,caramel cookie bars,30,217657,8,['mix all crust ingredients together and sprea...,312.0,"[2683, 5791, 800, 4574, 6270, 335, 1062, 1909]","[2683, 5791, 800, 4574, 6270, 335, 1062, 1909]"

In [ ]:
merged_df = merged_df[['id', 'ingredient_list']]
merged_df

           id                                    ingredient_list
0      137739          [7933, 4694, 4795, 3723, 840, 5006, 6270]
1       31490               [5481, 6324, 2499, 4717, 6276, 1170]
2       59389  [1170, 4918, 6426, 5185, 7099, 5006, 6009, 627...
3        5289                            [4717, 7474, 2946, 150]
4       25274  [2587, 3437, 5002, 3184, 5324, 5068, 5058, 131...
...       ...                                                ...
27345  323917          [1625, 3497, 1076, 154, 1645, 7702, 1511]
27346   63261                           [1062, 7705, 1630, 5298]
27347  163302                      [3778, 889, 7702, 7200, 1388]
27348  312986                           [6906, 3815, 7449, 6270]
27349  123765     [2683, 5791, 800, 4574, 6270, 335, 1062, 1909]

[27350 rows x 2 columns]

In [ ]:
rec_ingr_df = merged_df.explode('ingredient_list')
rec_ingr_df

           id ingredient_list
0      137739            7933
0      137739            4694
0      137739            4795
0      137739            3723
0      137739             840
...       ...             ...
27349  123765            4574
27349  123765            6270
27349  123765             335
27349  123765            1062
27349  123765            1909

[244083 rows x 2 columns]

In [ ]:
rec_ingr_df.to_csv('final_recipe_ingredients.csv')

In [ ]:
import pandas as pd
recipe_ingr_df = pd.read_csv('final_recipe_ingredients.csv')
recipe_ingr_df

        Recipe_id  Ingredient_id
0          137739           7933
1          137739           4694
2          137739           4795
3          137739           3723
4          137739            840
...           ...            ...
244078     123765           4574
244079     123765           6270
244080     123765            335
244081     123765           1062
244082     123765           1909

[244083 rows x 2 columns]

In [ ]:
recipe_ingr_df.drop_duplicates(inplace=True)
recipe_ingr_df.

        Recipe_id  Ingredient_id
0          137739           7933
1          137739           4694
2          137739           4795
3          137739           3723
4          137739            840
...           ...            ...
244078     123765           4574
244079     123765           6270
244080     123765            335
244081     123765           1062
244082     123765           1909

[243694 rows x 2 columns]

In [ ]:
test_df = recipe_ingr_df.dropna()

        Recipe_id  Ingredient_id
0          137739           7933
1          137739           4694
2          137739           4795
3          137739           3723
4          137739            840
...           ...            ...
244078     123765           4574
244079     123765           6270
244080     123765            335
244081     123765           1062
244082     123765           1909

[243694 rows x 2 columns]

In [ ]:
test_df.to_csv('final_recipe_to_ingredients.csv')

In [ ]:
import pandas as pd

ingr_df = pd.read_csv('final_ingredients.csv')
prices_df = pd.read_csv('pricesFINAL.csv')

In [ ]:
prices_df['Ingredient_name'] = prices_df['Ingredient_name'].apply(lambda x: x.strip())

In [ ]:
prices_df.to_csv('final_prices.csv')

In [ ]:
ingr_set = sorted(set(ingr_df['Ingredient_name']))

def get_ingr_name(raw_ingr_name):
  good_match_exists = False
  potential_matches = [None] * 3 # 0 is perfect, 1 is matches prefix, 2 is contained
  for ingr in ingr_set:
    if ingr[:len(raw_ingr_name)] == raw_ingr_name:
      if len(ingr) == len(raw_ingr_name):
        potential_matches[0] = ingr
      else:
        potential_matches[1] = ingr
    elif ingr.find(raw_ingr_name) != -1:
      potential_matches[2] = ingr 
  
  for p in potential_matches:
    if p is not None:
      return p
  return ''

series = prices_df['Ingredient_name'].apply(get_ingr_name)

In [ ]:
prices_df['real_ingredient_name'] = series

In [ ]:
prices_df

,Unnamed: 0,Ingredient_name,year,country,unit,real_ingredient_name,price
0,0,bread,2014,Afghanistan,g,bread,0.043263
1,1,bread,2015,Afghanistan,g,bread,0.044522
2,2,bread,2016,Afghanistan,g,bread,0.045265
3,3,bread,2017,Afghanistan,g,bread,0.040612
4,4,bread,2018,Afghanistan,g,bread,0.041028
...,...,...,...,...,...,...,...
9345,9345,sorghum,2018,Zimbabwe,g,sorghum,0.000709
9346,9346,millet,2018,Zimbabwe,g,millet,0.000348
9347,9347,sugar,2017,Zimbabwe,g,sugar,0.001138
9348,9348,sorghum,2019,Zimbabwe,g,sorghum,0.000400
9349,9349,millet,2019,Zimbabwe,g,millet,0.000530

In [ ]:
prices_df.to_csv('final_updated_prices.csv')

In [ ]:
new_price_df = pd.read_csv('final_updated_prices.csv')
new_ingr_df = pd.read_csv('final_ingredients.csv')

In [ ]:
new_ingr_df.drop(columns="Unnamed: 0", inplace=True)

In [ ]:
new_ingr_df

      Ingredient_id                             Ingredient_name
0              4308                                     lettuce
1              2744  french vanilla pudding and pie filling mix
2              6843                      stove top stuffing mix
3              1910                                cream cheese
4              1168                                     cheddar
...             ...                                         ...
8010           6702                                     soybean
8011           3318                                       goose
8012             47                                      ajwain
8013            750                                     brinjal
8014           4061                                       khoya

[8015 rows x 2 columns]

In [ ]:
merged_ingr_price_df = new_price_df.merge(new_ingr_df, how='left', left_on='real_ingredient_name', right_on='Ingredient_name')

In [ ]:
final_price_ingr_df = merged_ingr_price_df[['year', 'country', 'unit', 'real_ingredient_name', 'price', 'Ingredient_id']]

In [ ]:
final_price_ingr_df.to_csv('final_ingredient_prices.csv')

In [ ]:
final_price_ingr_df

      year      country unit real_ingredient_name     price  Ingredient_id
0     2014  Afghanistan    g                bread  0.043263            715
1     2015  Afghanistan    g                bread  0.044522            715
2     2016  Afghanistan    g                bread  0.045265            715
3     2017  Afghanistan    g                bread  0.040612            715
4     2018  Afghanistan    g                bread  0.041028            715
...    ...          ...  ...                  ...       ...            ...
9345  2018     Zimbabwe    g              sorghum  0.000709           6641
9346  2018     Zimbabwe    g               millet  0.000348           4731
9347  2017     Zimbabwe    g                sugar  0.001138           6906
9348  2019     Zimbabwe    g              sorghum  0.000400           6641
9349  2019     Zimbabwe    g               millet  0.000530           4731

[9350 rows x 6 columns]

In [ ]:
print(f"max country length: {max(final_price_ingr_df['country'].apply(len))}")
print(f"max unit length: {max(final_price_ingr_df['unit'].apply(len))}")
print(f"max real_ingredient_name length: {max(final_price_ingr_df['real_ingredient_name'].apply(len))}")

max country length: 32
max unit length: 7
max real_ingredient_name length: 50